* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html, .pure-g [class*="pure-u"], .pure-g{
    font-family: 'ABeeZee';
    font-size: 19px;
}

a {
    text-decoration: none;
    color: rgb(61,96,161);
}

a:hover,
a:focus {
    text-decoration: underline;
}

h1 { 
    font-size: 1.9em
}

h3 {
    font-weight: 100;
}

.post h1 {
    margin: 0.67em 0px 0.5em;
}

.post{
    border-bottom: solid 1px #B0CADB;
    padding: 0px 0.2em 1.5em;
}

.pure-img-responsive, img {
    max-width:100%;
    height:auto;
}

#layout {
    padding:0;
}

.header {
    text-align:center;
    top:auto;
    margin:3em auto;
    padding: 0.5em;
}

.sidebar, .pure-button {
    background:rgb(61,96,161);
    color: rgb(176,202,219);
}

.brand-title a {
    text-decoration: none;
    color: rgb(255,164,0);
}

.brand-title,
.brand-tagline {
    margin: 0px 0px 10px;
}

.brand-title {
    text-transform: uppercase;
}

.brand-tagline {
    font-weight: 300;
    color: rgb(176,202,219);
}

nav ul {
    margin: 0 auto;
    width: 80%;
}

.nav-social li {
    margin-left: 15px; 
    font-size: 3em;
}

.nav-social li:first-of-type{
    margin-left: 0;
}

.nav-social li a:hover,
.nav-social li a:focus {
    color: rgb(255,164,0);
}

.nav-social li a {
    color: rgb(176, 202, 219);
}

.nav-list {
    padding: 0;
    list-style: none;
}

.nav-list li {
    display: inline-block;
    * display: inline;
    zoom: 1;
}

.nav-item a {
    background: transparent;
    border: 2px solid rgb(176,202,219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}

.nav-item a:hover,
.nav-item a:focus {
    border:2px solid rgb(255,164,0);
    text-decoration:none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 0.5em 0;
}


.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-description {
    color: #444;
    line-height: 1.8em;
}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}

.post-category-design {
    background: #5aba59;
}

.post-category-pure {
    background: #b0cadb;
}

.post-category-yui{
    background: #8156a7;
}

.post-category-js {
    background: #df2d4f;
}

.post-images {
    margin: 1em 0;
}

.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 01px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}

.footer  {
    font-size: 80%;
}

.footer > .nav-social { 
    color: #ccc;
}

.footer .pure-menu ul.nav-social li a,
.footer .pure-menu ul.nav-social li a:hover,
.footer .pure-menu ul.nav-social li a:focus {
    background: none #fff;
    padding: 0;
}

@media screen and (min-width: 64em){
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 52px 10px 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    nav ul {
        width: auto;
    }

    .nav-list {
        margin: 0px;
    }
}

