---
layout: default
---

<div class="home">

    {% for post in site.posts %}
        <article itemscope itemtype="http://schema.org/Article" class="post">
		<header>
			{% if post.class %}
		    <h2 class="{{ post.class }}">
		    	{% else %}
		    <h2>
			{% endif %}
		    <a itemprop="name" href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h2>
            </header>
            <p itemprop="articleBody" >
                {{ post.excerpt }} 
            </p>
            <footer>
                <small>
                    <span itemprop="datePublished" content="{{ post.date | date: '%F' }}">
                        {{ post.date | date_to_string }} 
                    </span> -
                    {{ post.tags | join: ', ' | upcase }}
                </small>
            </footer>
        </article>
    {% endfor %}

</div>
